[Unit]
Description=Thermometer Pi
After=network.target
Documentation=https://github.com/almostengr/thermometerpi

[Service]
Type=simple
Restart=always
ExecStart=/usr/lib/thermometerpi/thermometerpi
User=<iamuser>

[Install]
WantedBy=multi-user.target