[Unit]
Description=Thermometer Pi API
After=network.target
Documentation=https://github.com/almostengr/thermometerpi

[Service]
Type=simple
Restart=always
ExecStart=/home/osmc/thermometerpi/Almostengr.ThermometerPi.Api
User=osmc

[Install]
WantedBy=multi-user.target